<!DOCTYPE html>
<html>
<head>
  <title>Morgan Brown</title>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
<%= javascript_include_tag "application" %>
<%= google_analytics_tag %>
</body>
</html>
