<!DOCTYPE html>
<html>
<head>
  <title>Morgan Brown</title>
  <%= stylesheet_link_tag "application", :media => :all %>
  <%= favicon_link_tag "favicon.png", :type => "image/png" %>
  <meta name="viewport" content="width=device-width"/>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="https://raw.github.com/discom4rt/witchifier/master/bililiteRange.js"></script>
<script src="https://raw.github.com/discom4rt/witchifier/master/jquery.sendkeys.js"></script>
<script src="https://raw.github.com/discom4rt/witchifier/master/jquery.witchifier.js"></script>
<%= javascript_include_tag "application" %>
<%= google_analytics_tag %>
</body>
</html>
