<!DOCTYPE html>
<html lang="en">
<head>
  <title>Morgan Brown</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="Morgan Brown is a Berlin-based Software Engineer.">
  <meta name="keywords" content="morgan brown,software,software engineering,web,art">
  <meta name="author" content="Morgan Brown">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" integrity="sha256-K3Njjl2oe0gjRteXwX01fQD5fkk9JFFBdUHy/h38ggY=" crossorigin="anonymous" />
  <%= stylesheet_link_tag "application", :media => :all %>
  <%= favicon_link_tag "favicon.png", :type => "image/png" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <main role="main">
      <%= yield :content %>
  </main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<%= javascript_include_tag "application" %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-24597738-1', 'auto');
  ga('send', 'pageview');
</script>
<!--
thousands are sailing
the same self the only self

self willed the peril of a thousand fates

a line of infinite ends finite finishing
the one remains oblique and pure

arching to the single point of
consciousness

find yourself
starting back
-->
</body>
</html>
