<!DOCTYPE html>
<html>
<head>
  <title>Morgan Brown</title>
  <link href='http://fonts.googleapis.com/css?family=Muli|Ultra' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
<%= javascript_include_tag "application" %>
<%= google_analytics_tag %>
</body>
</html>
