<!DOCTYPE html>
<html lang="en">
<head>
  <title>Morgan Brown</title>
  <meta charset="utf-8">
  <link rel="dns-prefetch" href="//ajax.googleapis.com">
  <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="Morgan Brown is a software engineer. This is his website.">
  <meta name="keywords" content="morgan brown,software,software engineering,web,art">
  <meta name="author" content="Morgan Brown">
  <script src="//use.typekit.net/qyd3alk.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <%= stylesheet_link_tag "application", :media => :all %>
  <%= favicon_link_tag "favicon.png", :type => "image/png" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="content-left">
    <%= yield :left %>
  </div>
  <div class="content-right">
    <%= yield :right %>
  </div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/randomcolor/0.1.1/randomColor.min.js"></script>
<%= javascript_include_tag "application" %>
<%= google_analytics_tag %>
<!--
thousands are sailing
the same self the only self

self willed the peril of a thousand fates

a line of infinite ends finite finishing
the one remains oblique and pure

arching to the single point of
consciousness

find yourself
starting back
-->
</body>
</html>
